---
import iconPlus from '../assets/icons/icon-plus.svg'
const { data } = Astro.props
---

<div class="accordion" id="accordionExample">
    {
        data.map(({ body, title }, index) => {
            return (
                <div class="accordion-item">
                    <h2 class="accordion-header" id={`heading${index}`}>
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target={`#collapse${index}`}
                            aria-expanded="false"
                            aria-controls={`collapse${index}`}
                        >
                            {title}
                        </button>
                    </h2>
                    <div
                        id={`collapse${index}`}
                        class="accordion-collapse collapse"
                        aria-labelledby={`heading${index}`}
                        data-bs-parent="#accordionExample"
                    >
                        <div class="accordion-body">{body}</div>
                    </div>
                </div>
            )
        })
    }
</div>

<style>
    .accordion {
        --bs-accordion-btn-bg: var(--color-turqoise);
        --bs-accordion-active-bg: var(--color-turqoise);
        --bs-accordion-active-color: var(--bs-body-color);
        --bs-accordion-btn-icon: url('../assets/icons/icon-plus.svg');
        --bs-accordion-btn-active-icon: url('../assets/icons/icon-minus.svg');
    }

    .accordion-item {
        margin-bottom: 1.5rem;
    }
</style>
