---
export interface Props {
    title: string
    cardColor: string
    textColor?: string
    img: string
    alt: string
    hoverInteraction?: boolean
}

const {
    title,
    cardColor,
    textColor = 'currentColor',
    img,
    alt,
    hoverInteraction = false,
} = Astro.props
---

<div
    class={`card ${hoverInteraction ? `card-hover` : ''}`}
    style={`background-color:${cardColor}; color:${textColor}`}
>
    <img class="card-img-top" src={img} alt={alt} />
    <div class="card-body">
        <h5 class="card-title">{title}</h5>
    </div>
</div>

<style>
    .card-title {
        font-size: 1.8rem;
    }
    .card {
        height: 100%;
        border: none;
        transition: transform 300ms, box-shadow 300ms;
        cursor: pointer;
    }

    .card-hover:hover {
        position: absolute;
        transform: translateY(-1rem);
        box-shadow: 0px 19px 16px 0px rgba(0, 0, 0, 0.1);
    }
</style>
